body {
    background: white;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
	transform-origin: 0 0;
}

/* #video {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -180px 0 0 -240px;
} */
